{% extends "base.html.twig" %}

{% block body %}
    <div style="width: 100%; float: left; text-align: center;">
        <h1>RCPP &ndash; API</h1>
        <p>
            {{ version_commit_hash }}
        </p>
        <p>
            {{ version_commit_date }}
        </p>
    </div>
{% endblock %}