{% extends "base.html.twig" %}

{% block body %}
    <h4>Łączny czas w pracy w sekundach: {{ totalTimeInSeconds }}</h4>
    <h4>Łączny czas w pracy: {{ totalTimeString }}</h4>
    <h4>Średni czas w pracy w sekundach: {{ averageTime }}</h4>
    <h4>Średni czas w pracy: {{ averageTimeString }}</h4>
{% endblock %}